@font-face {
  font-family: 'Dream-Avenue';
  src: local('Dream-Avenue'), url(./fonts/Dream-Avenue.ttf) format('truetype');
}

@font-face {
  font-family: 'theseasons';
  src: local('theseasons'), url(./fonts/Fontspring-DEMO-theseasons-reg.otf) format('opentype');
}

@font-face {
  font-family: 'Lovera';
  src: local('Lovera'), url(./fonts/Lovera.otf) format('opentype');
}

body {
  margin: 0;
  /* font-family: 'theseasons', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Lovera', 'theseasons', 'Dream-Avenue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  z-index: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  z-index: 1;
}